:root {
  --mono-font: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  --sans-font: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 1em;
}

body {
  background-color: #282C34;
  min-height: 100vh;
  color: white;
  font-size: 1rem;

  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
  font-family: var(--sans-font)
}

a {
  color: white;
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.MuiButton-root {
  width: 100% !important;
  color: white !important;
  padding: 1em !important;
  text-transform: none !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  flex-direction: row !important;
}

.MuiButton-label {
  display: inline !important;
}

.MuiButton-root:hover {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.MuiButton-label {
  justify-content: start !important;
}
